@import "@/styles/_colors.scss";

* {
  box-sizing: border-box;
}

a {
  color: lighten($color: $sherpa-blue, $amount: 15);

  &:hover {
    text-decoration: none;
  }
}

body {
  color: $sherpa-blue;
  margin: 0;
  padding: 0 0 100px;
}

hr {
  background-color: $tequila;
  border: 0;
  height: 1px;
  margin-bottom: 50px;
  margin-top: 50px;
}

img {
  height: auto;
  width: 100%;

  .no-responsive & {
    width: auto;
  }
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}
