@import "colors";

blockquote {
  p {
    &::before {
      color: $riptide;
      content: "❝";
      // display: inline;
      margin-right: 5px;
    }
    &::after {
      color: $riptide;
      content: "❞";
      // display: inline;
      margin-left: 5px;
    }
  }
}

body {
  font-family: $font-primary;
}

code {
  background-color: $tequila;
  border-radius: 3px;
  color: $brink-pink;
  font-size: 14px;
  padding: 4px 6px;
}

ul,
ol {
  li {
    line-height: 160%;
  }
}

.topic {
  background-color: $ice-cold;
  border-radius: 3px;
  color: $sherpa-blue;
  font-size: 20px;
  padding: 4px 6px;
}

.list-centered {
  margin-left: 150px;
  margin-right: 150px;
}

.text-center {
  text-align: center;
}

.text-medium {
  font-size: 26px;
}

.text-big {
  font-size: 30px;
}

.text-small {
  font-size: 12px;

  code {
    font-size: 12px;
  }
}
