.container {
  padding: 80px 0;
  text-align: center;
}

.homepage-link {
  font-size: 28px;
  margin-bottom: 10px;
  text-decoration: none;
}

.title {
  color: #f76081;
  font-size: 48px;
  font-weight: 500;
  margin: 0;
}
