@import "@/styles/_colors.scss";

.appName {
  display: inline-block;
  opacity: 0.3;
  transition: transform 250ms ease-out, opacity 250ms ease-out;

  &:hover {
    opacity: 1;
    transform: scale(1.5);
  }
}

.container {
  padding: 40px 0;
  text-align: center;
}

.homepageLink {
  font-size: 28px;
  margin-bottom: 10px;
  text-decoration: none;
}

.title {
  color: $brink-pink;
  font-size: 48px;
  font-weight: 500;
  margin: 0;
}
